label.weui-cell.weui-check__label
	.weui-cell__hd
		input.weui-check(
		  type="checkbox"
		  name="checkbox1"
		  checked="checked"
		)                   
		i.weui-icon-checked.weui-cell-success
				
	.weui-cell__bd
		p.weui-cell-p.weui-cell-p2 完成

label.weui-cell.weui-check__label
				
	.weui-cell__bd
		p.weui-cell-mark.weui-cell-p2.weui-cell-p 完成
		

.weui-cell.weui-cell_swiped
	.weui-cell__bd(
		style="transform: translateX(-68px)"
	)

		.weui-cell
			.weui-cell__bd
				//- p 标题文字                       
			.weui-cell__ft 说明文字
				
	.weui-cell__ft
		a.weui-swiped-btn.weui-swiped-btn_warn 删除

label.weui-cell.weui-check__label
	.weui-cell__hd
		input.weui-check(
			type="checkbox", name="checkbox1"
		)
		i.weui-icon-checked.weui-cell-success
				
	.weui-cell__bd
		p 正常

label.weui-cell.weui-check__label
	.weui-cell__bd
		p 正常