.page.js_show

  .page__hd
    h1.page__title Grid     
    p.page__desc 九宫格
 
  .weui-grids
    a.weui-grid
      .weui-grid__icon
        img(
					src="../../../../../node_modules/weui/src/example/images/icon_tabbar.png", alt=""
				)    
      p.weui-grid__label Grid
     
    a.weui-grid
      .weui-grid__icon
        img(
					src="../../../../../node_modules/weui/src/example/images/icon_tabbar.png", alt=""
				)         
      p.weui-grid__label Grid
    
    a.weui-grid
      .weui-grid__icon
        img(
					src="../../../../../node_modules/weui/src/example/images/icon_tabbar.png", alt=""
				)        
      p.weui-grid__label Grid
    
    a.weui-grid
      .weui-grid__icon
        img(
					src="../../../../../node_modules/weui/src/example/images/icon_tabbar.png", alt=""
				)       
      p.weui-grid__label Grid
      
    a.weui-grid
      .weui-grid__icon
        img(
					src="../../../../../node_modules/weui/src/example/images/icon_tabbar.png", alt=""
				)       
      p.weui-grid__label Grid

    a.weui-grid
      .weui-grid__icon
        img(
					src="../../../../../node_modules/weui/src/example/images/icon_tabbar.png", alt=""
				)       
      p.weui-grid__label Grid

    a.weui-grid
      .weui-grid__icon
        img(
					src="../../../../../node_modules/weui/src/example/images/icon_tabbar.png", alt=""
				)        
      p.weui-grid__label Grid
 
    a.weui-grid
      .weui-grid__icon
        img(
					src="../../../../../node_modules/weui/src/example/images/icon_tabbar.png", alt=""
				)     
      p.weui-grid__label Grid
 
    a.weui-grid
      .weui-grid__icon
        img(
					src="../../../../../node_modules/weui/src/example/images/icon_tabbar.png", alt=""
				)       
      p.weui-grid__label Grid
